/* --------------- CSS Reset ------------------ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* -------------------------------------------- */

@font-face {
  font-family: "seven-segment";
  src: url(./fonts/Seven\ Segment.ttf);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: end;
  padding: 8px;
  border-bottom: 1px solid black;
  background-color: pink;
}

#header-title {
  font-size: 3rem;
  flex-grow: 1;
}

#header-author {
  font-size: 2.25rem;
}

#main {
  flex-grow: 1;
  display: flex;
}

#main-left {
  /* background-color: aqua; */
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calc-container {
  /* padding: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.03); */
}

#calculator {
  /* border: 1px solid red; */
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.2),
    4px 4px 4px #dddddd inset, -4px -4px 4px #dddddd inset,
    4px -4px 4px #dddddd inset, -4px 4px 4px #dddddd inset;
  width: 400px;
  height: 600px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

#screen {
  background-color: pink;
  height: 64px;
  font-family: "seven-segment", monospace, sans-serif;
  font-size: 64px;
  line-height: 100%;
  text-align: right;
  background-color: #a0a984;
  border-radius: 5px;
  box-shadow: 2px 2px #cccccc, -2px -2px 2px #cccccc, 2px -2px 2px #cccccc,
    -2px 2px 2px #cccccc;
}

.simple-line {
  margin: 16px 0px;
  height: 4px;
  border-radius: 2px;
  background-color: #cccccc;
}

#button-container {
  /* background-color: pink; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button {
  width: 75px;
  height: 75px;
  /* border: 2px solid black; */
  border-radius: 10px;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  font-family: monospace;
  box-shadow: 3px 3px #cccccc, -3px -3px 3px #cccccc, 3px -3px 3px #cccccc,
    -3px 3px 3px #cccccc;
  cursor: pointer;
}

.wide-button {
  width: 344px;
  height: 70px;
  font-size: 50px;
}
#main-right {
  background-color: brown;
  min-width: 300px;
  flex-grow: 1;
}

#footer {
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  background-color: lime;
}

#footer-author-link {
  color: green;
  font-weight: 700;
}
